body{
	background-color: white;
}
.main{
	width: 1000px;
	height: 100px;
	background-color: red;
	text-shadow:100px;
	border-radius:100px;
	text-align: center;

}
div{
	background-color: pink;
}
label{
	display: block;
	float: left;
	width: 150px;
	text-align: right;
	font-weight: bold;
	margin-right: 10px;

}
